<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/affectationEmployee</property>
        <property name="connection.username">thyler</property>
        <property name="connection.password">k</property>

        <!-- JDBC connection pool settings -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Mention annotated class -->
        
        <mapping resource="bean/Employee.hbm.xml" />
        <mapping resource="bean/Lieu.hbm.xml" />
        <mapping resource="bean/Affecter.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
